<div class="container">
	<div class="row">
		<span class="footer-sub col-lg-12">Copyright &#169;. This application was developed by Ben Trigoboff and Charles Florestal.</span>

		<div class="border"></div>
	</div>
	<div class="row">
		<div class="footer-links col-sm-6 col-md-4 col-lg-3">
			<ul>
				<li><a href=""><span>About us</span></a></li>
				<li><a href=""><span>Contact us</span></a></li>
				<li><a href=""><span>Legal</span></a></li>

			</ul>
		</div>
		<div class="footer-links col-sm-6 col-md-4 col-lg-3">
			<ul>
				<li><a href=""><span>Sponsores</span></a></li>
				<li><a href=""><span>Other relations</span></a></li>
				<li><a href=""><span>Legal</span></a></li>

			</ul>
		</div>

	</div>
</div>
